@import "tailwindcss";

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-Thin.woff2') format('woff2'),
    url('./fonts/MiSansLatin-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-ExtraLight.woff2') format('woff2'),
    url('./fonts/MiSansLatin-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-Light.woff2') format('woff2'),
    url('./fonts/MiSansLatin-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-Normal.woff2') format('woff2'),
    url('./fonts/MiSansLatin-Normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-Regular.woff2') format('woff2'),
    url('./fonts/MiSansLatin-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-Medium.woff2') format('woff2'),
    url('./fonts/MiSansLatin-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-SemiBold.woff2') format('woff2'),
    url('./fonts/MiSansLatin-SemiBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-Demibold.woff2') format('woff2'),
    url('./fonts/MiSansLatin-Demibold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-Bold.woff2') format('woff2'),
    url('./fonts/MiSansLatin-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('./fonts/MiSansLatin-Heavy.woff2') format('woff2'),
    url('./fonts/MiSansLatin-Heavy.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #518BE3;
  --color-secondary: #41b883;
  --color-status-unknown: #000000;
  --color-status-disabled: #000000;
}

body {
  font-family: 'MiSansLatin', sans-serif;
}


.card-item {
  @apply bg-gradient-to-b text-black from-primary/60 to-primary/70 outline-primary border border-primary duration-100 transition-all outline-0 hover:outline-2 outline-offset-1 hover:opacity-90;

  &.active {
    @apply outline-2 outline-offset-2 outline-primary/90 from-primary to-primary opacity-100;
  }
}